In [1]:
import pandas as pd
df = pd.read_csv('datasets/Location.csv')
print('Location.csv') 
print(df)

Location.csv
                            Location  Month  Year  Season  \
0                  Las Vegas, Nevada     10  2019    Fall
1                  Index, Washington     10  2019    Fall
2                 Golden Gate Bridge     10  2019    Fall
3             New Orleans, Louisiana      8  2019  Summer
4      Seven Magic Mountains, Nevada     10  2019    Fall
...                              ...    ...   ...     ...
41681                 Caesars Palace      5  2012  Spring
41682             Brooklyn, New York     11  2011    Fall
41683             New York, New York     11  2011    Fall
41684                  New york, USA     11  2011    Fall
41685        The Standard, High Line     11  2011    Fall

                                                 Address   Latitude  \
0         Las Vegas, Clark County, Nevada, United States  36.166286
1      Index, Snohomish County, Washington, United St...  47.820831
2      Golden Gate Bridge, Redwood Highway, Waldo, Ma...  37.817616
3      New Orleans, Orleans Parish, Louisiana, United...  29.949932
4      Seven Magic Mountains, South Las Vegas Bouleva...  35.838291
...                                                  ...        ...
41681  Caesars Palace, 3570, Jay Sarno Way, Hughes Ce...  36.116628
41682  Brooklyn, Kings County, New York, United State...  40.650104
41683                 New York, United States of America  40.712728
41684                 New York, United States of America  40.712728
41685  The Standard, 26,28, High Street, Fenlake, Cau...  52.136106

        Longitude
0     -115.149225
1     -121.553891
2     -122.478312
3      -90.070116
4     -115.270879
...           ...
41681 -115.176757
41682  -73.949582
41683  -74.006015
41684  -74.006015
41685   -0.466618

[41686 rows x 7 columns]

In [2]:
df.drop('Season', axis=1, inplace=True)

In [3]:
df

,Location,Month,Year,Address,Latitude,Longitude
0,"Las Vegas, Nevada",10,2019,"Las Vegas, Clark County, Nevada, United States",36.166286,-115.149225
1,"Index, Washington",10,2019,"Index, Snohomish County, Washington, United St...",47.820831,-121.553891
2,Golden Gate Bridge,10,2019,"Golden Gate Bridge, Redwood Highway, Waldo, Ma...",37.817616,-122.478312
3,"New Orleans, Louisiana",8,2019,"New Orleans, Orleans Parish, Louisiana, United...",29.949932,-90.070116
4,"Seven Magic Mountains, Nevada",10,2019,"Seven Magic Mountains, South Las Vegas Bouleva...",35.838291,-115.270879
...,...,...,...,...,...,...
41681,Caesars Palace,5,2012,"Caesars Palace, 3570, Jay Sarno Way, Hughes Ce...",36.116628,-115.176757
41682,"Brooklyn, New York",11,2011,"Brooklyn, Kings County, New York, United State...",40.650104,-73.949582
41683,"New York, New York",11,2011,"New York, United States of America",40.712728,-74.006015
41684,"New york, USA",11,2011,"New York, United States of America",40.712728,-74.006015
41685,"The Standard, High Line",11,2011,"The Standard, 26,28, High Street, Fenlake, Cau...",52.136106,-0.466618

In [6]:
state_mapping = {
    'Alabama,': 'Alabama',
    'Alaska,': 'Alaska',
    'Arizona,': 'Arizona',
    'Arkansas,': 'Arkansas',
    'California,': 'California',
    'Colorado,': 'Colorado',
    'Connecticut,': 'Connecticut',
    'Delaware,': 'Delaware',
    'Florida,': 'Florida',
    'Georgia,': 'Georgia',
    'Hawaii,': 'Hawaii',
    'Idaho,': 'Idaho',
    'Illinois,': 'Illinois',
    'Indiana,': 'Indiana',
    'Iowa,': 'Iowa',
    'Kansas,': 'Kansas',
    'Kentucky,': 'Kentucky',
    'Louisiana,': 'Louisiana',
    'Maine,': 'Maine',
    'Maryland,': 'Maryland',
    'Massachusetts,': 'Massachusetts',
    'Michigan,': 'Michigan',
    'Minnesota,': 'Minnesota',
    'Mississippi,': 'Mississippi',
    'Missouri,': 'Missouri',
    'Montana,': 'Montana',
    'Nebraska,': 'Nebraska',
    'Nevada,': 'Nevada',
    'New Hampshire,': 'New Hampshire',
    'New Jersey,': 'New Jersey',
    'New Mexico,': 'New Mexico',
    'New York,': 'New York',
    'North Carolina,': 'North Carolina',
    'North Dakota,': 'North Dakota',
    'Ohio,': 'Ohio',
    'Oklahoma,': 'Oklahoma',
    'Oregon,': 'Oregon',
    'Pennsylvania,': 'Pennsylvania',
    'Rhode Island,': 'Rhode Island',
    'South Carolina,': 'South Carolina',
    'South Dakota,': 'South Dakota',
    'Tennessee,': 'Tennessee',
    'Texas,': 'Texas',
    'Utah,': 'Utah',
    'Vermont,': 'Vermont',
    'District of Columbia,':'Washington D.C.',
    'Washington,': 'Washington',
    'West Virginia,': 'West Virginia',
    'Virginia,': 'Virginia',
    'Wisconsin,': 'Wisconsin',
    'Wyoming,': 'Wyoming'
    
    
    
}


def get_state(address):
    for keyword, state in state_mapping.items():
        if "United States" not in address:
            return 'Not in US'
        elif keyword in address:
            return state
    return 'Not in US'

df['State'] = df['Address'].apply(get_state)

In [9]:
df = df[(df.Location != "Hwy 40 Arizona") & 
        (df.Location != "ARIZONA-CALIFORNIA STATE LINE") &
        (df.Location != "No Name, Colorado") & 
        (df.Location != "Delaware, Ohio") & 
        (df.Location != "Pattersonvillie Travel Plaza") & 
        (df.Location != "Kansas, Oklahoma") &
        (df.Location != "Blue Star Donuts") &
        (df.Location != "Pier 5") &
        (df.Location != "Washington Historic District") &
        (df.Location != "University of Mary Washington")]

In [10]:
pd.set_option('display.max_rows', None)
filtered_df = df[df['State'] == 'Not in US']
filtered_df.head()

,Location,Month,Year,Address,Latitude,Longitude,State
43,The Vessel,10,2019,"Vessel, Hudiksvalls kommun, Hälsingland, Gävle...",61.808690,17.101500,Not in US
50,Dive Spirit Fakarava,10,2019,"Dive Spirit Fakarava, Fakarava, Tuamotu-Gambie...",-16.093183,-145.612525,Not in US
51,Dive Spirit Fakarava,10,2019,"Dive Spirit Fakarava, Fakarava, Tuamotu-Gambie...",-16.093183,-145.612525,Not in US
108,Downtown Boston,10,2019,"Downtown, Swineshead Road, Boston, Lincolnshir...",52.971149,-0.059809,Not in US
121,Moorea Beach Club,10,2019,"Moorea Beach, ផ្លូវ ឆ្នេរ​អូរត្រេះ, ក្រុងព្រះស...",10.578633,103.547229,Not in US

In [11]:
df.to_csv('datasets/Location_clean.csv', index=False)